In [1]:
# H1B Labor Condition Applications (Form ETA-9035)

# http://econdataus.com/h1bdata.htm

#source: US Department of Labor
#https://www.dol.gov/agencies/eta/foreign-labor/performance

# metadata:
# https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Record_Layout_FY2022_Q3.pdf

# git pull https://github.com/JohnBroberg/H1B_LCA.git

import pandas as pd

In [2]:
#download .xlsx files
#concat into single dataframe (df)

df = pd.read_excel("https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Disclosure_Data_FY2022_Q3.xlsx")
#                  , index_col = None)
df

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-19274-066496,Certified - Withdrawn,2019-10-01,2022-04-20,2019-10-08,H-1B,Sr. Software Developer,15-1132.00,"Software Developers, Applications",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-19274-066597,Certified - Withdrawn,2019-10-01,2022-04-05,2019-10-08,H-1B,"Senior Manager I, Business Planning",11-2021.00,Marketing Managers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-19274-066618,Certified - Withdrawn,2019-10-01,2021-12-01,2019-10-08,H-1B,Assistant Professor,25-1021.00,"Computer Science Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-19275-067882,Certified - Withdrawn,2019-10-02,2022-03-08,2019-10-09,H-1B,Senior Integration Engineer,15-1132.00,"Software Developers, Applications",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-19275-067945,Certified - Withdrawn,2019-10-02,2021-12-09,2019-10-09,H-1B,Scientist 2,15-2021.00,Mathematicians,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510938,I-203-22180-319373,Withdrawn,2022-06-28,2022-06-28,NaT,E-3 Australian,VISITING ASSISTANT PROFESSOR,25-1071.00,"Health Specialties Teachers, Postsecondary",Y,...,NaN,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
510939,I-203-22180-319391,Withdrawn,2022-06-28,2022-06-28,NaT,E-3 Australian,VISITING ASSISTANT PROFESSOR,25-1071.00,"Health Specialties Teachers, Postsecondary",Y,...,NaN,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
510940,I-203-22180-319536,Withdrawn,2022-06-29,2022-06-29,NaT,E-3 Australian,Financial Analysts - KBGFJG94076-9,13-2051.00,Financial Analysts,Y,...,NaN,NaN,NaN,NaN,Disclose Business,Conforti,Joseph\t,B,EY Law LLP,niveyus@ca.ey.com
510941,I-203-22180-319933,Denied,2022-06-29,2022-06-30,NaT,E-3 Australian,Financial and Investment Analyst,13-2051.00,Financial Analysts,Y,...,NaN,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
510942,I-203-22181-325208,Withdrawn,2022-06-30,2022-06-30,NaT,E-3 Australian,Veterinarian,29-1131.00,Veterinarians,Y,...,NaN,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510943 entries, 0 to 510942
Data columns (total 96 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     510943 non-null  object
 1   CASE_STATUS                     510943 non-null  object
 2   RECEIVED_DATE                   510943 non-null  datetime64[ns]
 3   DECISION_DATE                   510943 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              24549 non-null   datetime64[ns]
 5   VISA_CLASS                      510943 non-null  object
 6   JOB_TITLE                       510943 non-null  object
 7   SOC_CODE                        510943 non-null  object
 8   SOC_TITLE                       510943 non-null  object
 9   FULL_TIME_POSITION              510943 non-null  object
 10  BEGIN_DATE                      510943 non-null  datetime64[ns]
 11  END_DATE                        510943 non-null  datetime64[ns]
 12  TOTAL_WORKER_POSITIONS          510943 non-null  int64
 13  NEW_EMPLOYMENT                  510943 non-null  int64
 14  CONTINUED_EMPLOYMENT            510943 non-null  int64
 15  CHANGE_PREVIOUS_EMPLOYMENT      510943 non-null  int64
 16  NEW_CONCURRENT_EMPLOYMENT       510943 non-null  int64
 17  CHANGE_EMPLOYER                 510943 non-null  int64
 18  AMENDED_PETITION                510943 non-null  int64
 19  EMPLOYER_NAME                   510943 non-null  object
 20  TRADE_NAME_DBA                  47292 non-null   object
 21  EMPLOYER_ADDRESS1               510943 non-null  object
 22  EMPLOYER_ADDRESS2               235138 non-null  object
 23  EMPLOYER_CITY                   510943 non-null  object
 24  EMPLOYER_STATE                  510861 non-null  object
 25  EMPLOYER_POSTAL_CODE            510943 non-null  object
 26  EMPLOYER_COUNTRY                510943 non-null  object
 27  EMPLOYER_PROVINCE               30809 non-null   object
 28  EMPLOYER_PHONE                  510943 non-null  int64
 29  EMPLOYER_PHONE_EXT              29124 non-null   float64
 30  NAICS_CODE                      510943 non-null  int64
 31  EMPLOYER_POC_LAST_NAME          510942 non-null  object
 32  EMPLOYER_POC_FIRST_NAME         510940 non-null  object
 33  EMPLOYER_POC_MIDDLE_NAME        93440 non-null   object
 34  EMPLOYER_POC_JOB_TITLE          510943 non-null  object
 35  EMPLOYER_POC_ADDRESS1           510943 non-null  object
 36  EMPLOYER_POC_ADDRESS2           242096 non-null  object
 37  EMPLOYER_POC_CITY               510943 non-null  object
 38  EMPLOYER_POC_STATE              510419 non-null  object
 39  EMPLOYER_POC_POSTAL_CODE        510938 non-null  object
 40  EMPLOYER_POC_COUNTRY            510943 non-null  object
 41  EMPLOYER_POC_PROVINCE           625 non-null     object
 42  EMPLOYER_POC_PHONE              510943 non-null  int64
 43  EMPLOYER_POC_PHONE_EXT          30886 non-null   float64
 44  EMPLOYER_POC_EMAIL              499733 non-null  object
 45  AGENT_REPRESENTING_EMPLOYER     510943 non-null  object
 46  AGENT_ATTORNEY_LAST_NAME        377383 non-null  object
 47  AGENT_ATTORNEY_FIRST_NAME       377381 non-null  object
 48  AGENT_ATTORNEY_MIDDLE_NAME      190326 non-null  object
 49  AGENT_ATTORNEY_ADDRESS1         377383 non-null  object
 50  AGENT_ATTORNEY_ADDRESS2         297354 non-null  object
 51  AGENT_ATTORNEY_CITY             377383 non-null  object
 52  AGENT_ATTORNEY_STATE            363229 non-null  object
 53  AGENT_ATTORNEY_POSTAL_CODE      377383 non-null  object
 54  AGENT_ATTORNEY_COUNTRY          377383 non-null  object
 55  AGENT_ATTORNEY_PROVINCE         36399 non-null   object
 56  AGENT_ATTORNEY_PHONE            377383 non-null  float64
 57  AGENT_ATTORNEY_PHONE_EXT        23203 non-null   float64
 58  AGENT_ATTORNEY_EMAIL_ADDRESS    377334 non-null  object
 59  LAWFIRM_NAME_BUSINESS_NAME      377383 non-null  object
 60  STATE_OF_HIGHEST_COURT          376709 non-null  object
 61  NAME_OF_HIGHEST_STATE_COURT     376705 non-null  object
 62  WORKSITE_WORKERS                510943 non-null  int64
 63  SECONDARY_ENTITY                510943 non-null  object
 64  SECONDARY_ENTITY_BUSINESS_NAME  110442 non-null  object
 65  WORKSITE_ADDRESS1               510943 non-null  object
 66  WORKSITE_ADDRESS2               155184 non-null  object
 67  WORKSITE_CITY                   510932 non-null  object
 68  WORKSITE_COUNTY                 510941 non-null  object
 69  WORKSITE_STATE                  510943 non-null  object
 70  WORKSITE_POSTAL_CODE            510943 non-null  object
 71  WAGE_RATE_OF_PAY_FROM           510943 non-null  float64
 72  WAGE_RATE_OF_PAY_TO             165478 non-null  float64
 73  WAGE_UNIT_OF_PAY                510943 non-null  object
 74  PREVAILING_WAGE                 510943 non-null  float64
 75  PW_UNIT_OF_PAY                  510943 non-null  object
 76  PW_TRACKING_NUMBER              957 non-null     object
 77  PW_WAGE_LEVEL                   488289 non-null  object
 78  PW_OES_YEAR                     490075 non-null  object
 79  PW_OTHER_SOURCE                 19911 non-null   object
 80  PW_OTHER_YEAR                   19911 non-null   float64
 81  PW_SURVEY_PUBLISHER             15473 non-null   object
 82  PW_SURVEY_NAME                  15470 non-null   object
 83  TOTAL_WORKSITE_LOCATIONS        510943 non-null  int64
 84  AGREE_TO_LC_STATEMENT           510943 non-null  object
 85  H1B_DEPENDENT                   499571 non-null  object
 86  WILLFUL_VIOLATOR                499568 non-null  object
 87  SUPPORT_H1B                     138436 non-null  object
 88  STATUTORY_BASIS                 137875 non-null  object
 89  APPENDIX_A_ATTACHED             425 non-null     object
 90  PUBLIC_DISCLOSURE               510816 non-null  object
 91  PREPARER_LAST_NAME              262722 non-null  object
 92  PREPARER_FIRST_NAME             262914 non-null  object
 93  PREPARER_MIDDLE_INITIAL         91377 non-null   object
 94  PREPARER_BUSINESS_NAME          269054 non-null  object
 95  PREPARER_EMAIL                  266572 non-null  object
dtypes: datetime64[ns](5), float64(8), int64(12), object(71)
memory usage: 374.2+ MB

In [4]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
510938    False
510939    False
510940    False
510941    False
510942    False
Length: 510943, dtype: bool

In [5]:
len(df)-len(df.drop_duplicates())

0

In [7]:
len(df['CASE_NUMBER'])-len(df['CASE_NUMBER'].drop_duplicates())

0