In [1]:
# H1B Labor Condition Applications (Form ETA-9035)

# http://econdataus.com/h1bdata.htm

#source: US Department of Labor
#https://www.dol.gov/agencies/eta/foreign-labor/performance

# metadata: lca_cols
# https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Record_Layout_FY2022_Q3.pdf

# DOL Guidance on Determining OES Wage Levels
# https://www.aila.org/infonet/dol-guidance-on-determining-oes-wage-levels

# 
# https://www.dol.gov/sites/doPrevailing Wage Determination Policy Guidancelgov/files/ETA/oflc/pdfs/Policy_Nonag_Progs.pdf

# git pull https://github.com/JohnBroberg/H1B_LCA.git

import pandas as pd

In [2]:
# Download LCA_Disclosure_Data_FY2022_Q3.xlsx

lca_cols = ['CASE_NUMBER','CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE', 'ORIGINAL_CERT_DATE'
           , 'VISA_CLASS', 'SOC_TITLE', 'FULL_TIME_POSITION'
           , 'TOTAL_WORKER_POSITIONS', 'EMPLOYER_NAME', 'NAICS_CODE', 'WORKSITE_WORKERS'
           , 'SECONDARY_ENTITY', 'SECONDARY_ENTITY_BUSINESS_NAME', 'WORKSITE_STATE'
           , 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY'
           , 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_LEVEL']
#           , 'PW_OES_YEAR', 'PW_OTHER_SOURCE', 'PW_OTHER_YEAR', 'PW_SURVEY_PUBLISHER', 'PW_SURVEY_NAME']

df22 = pd.read_excel("https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Disclosure_Data_FY2022_Q3.xlsx"
                  , usecols = lca_cols)
#                  , index_col = None)

df22 = df22[(df22['VISA_CLASS']=='H-1B') & \
        (df22['FULL_TIME_POSITION']=='Y')]

df22

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,WORKSITE_WORKERS,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL
0,I-200-19274-066496,Certified - Withdrawn,2019-10-01,2022-04-20,2019-10-08,H-1B,"Software Developers, Applications",Y,1,"Experis US, Inc.",...,1,Yes,Verizon Sourcing LLC,TX,53.37,70.0,Hour,53.37,Hour,III
1,I-200-19274-066597,Certified - Withdrawn,2019-10-01,2022-04-05,2019-10-08,H-1B,Marketing Managers,Y,1,"SAMSUNG ELECTRONICS AMERICA, INC.",...,1,No,NaN,TX,146077.63,NaN,Year,139464.00,Year,III
2,I-200-19274-066618,Certified - Withdrawn,2019-10-01,2021-12-01,2019-10-08,H-1B,"Computer Science Teachers, Postsecondary",Y,1,Stevens Institute of Technology,...,1,No,NaN,NJ,110000.00,130000.0,Year,56290.00,Year,I
3,I-200-19275-067882,Certified - Withdrawn,2019-10-02,2022-03-08,2019-10-09,H-1B,"Software Developers, Applications",Y,1,"DaVita, Inc.",...,1,No,NaN,CO,88858.00,106038.0,Year,88858.00,Year,II
4,I-200-19275-067945,Certified - Withdrawn,2019-10-02,2021-12-09,2019-10-09,H-1B,Mathematicians,Y,1,"Triad National Security, LLC",...,1,No,NaN,NM,121000.00,148300.0,Year,90314.00,Year,II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499270,I-200-22181-325657,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,"Software Developers, Applications",Y,1,"Technocorp Solutions, Inc.",...,1,Yes,Anthem,VA,89669.00,NaN,Year,89669.00,Year,II
499271,I-200-22181-325701,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,Computer Systems Analysts,Y,1,"COMPUNNEL SOFTWARE GROUP, INC",...,1,Yes,Fidelity Investments,NC,94500.00,109000.0,Year,94474.00,Year,III
499272,I-200-22181-325974,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,"Biological Scientists, All Other",Y,1,"Novartis Institutes for BioMedical Research, Inc.",...,1,No,NaN,MA,113214.00,NaN,Year,113214.00,Year,IV
499273,I-200-22181-326033,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,"Software Developers, Applications",Y,1,"KPIT Technologies, Inc.",...,1,Yes,Eaton Corporation,MI,95652.00,NaN,Year,80163.00,Year,II
499274,I-200-22181-326193,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,Network and Computer Systems Administrators,Y,1,HCL GLOBAL SYSTEMS INC,...,1,Yes,UNITED AIRLINES INC (REMOTE),IL,43.66,NaN,Hour,43.66,Hour,III

In [3]:
# Add WORKSITE_EMPLOYER column

df22['WORKSITE_EMPLOYER'] = df22['EMPLOYER_NAME']
df22.loc[df22['SECONDARY_ENTITY'] == 'Yes', 'WORKSITE_EMPLOYER'] = df22['SECONDARY_ENTITY_BUSINESS_NAME']

df22[['EMPLOYER_NAME','SECONDARY_ENTITY_BUSINESS_NAME','WORKSITE_EMPLOYER']]

,EMPLOYER_NAME,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_EMPLOYER
0,"Experis US, Inc.",Verizon Sourcing LLC,Verizon Sourcing LLC
1,"SAMSUNG ELECTRONICS AMERICA, INC.",NaN,"SAMSUNG ELECTRONICS AMERICA, INC."
2,Stevens Institute of Technology,NaN,Stevens Institute of Technology
3,"DaVita, Inc.",NaN,"DaVita, Inc."
4,"Triad National Security, LLC",NaN,"Triad National Security, LLC"
...,...,...,...
499270,"Technocorp Solutions, Inc.",Anthem,Anthem
499271,"COMPUNNEL SOFTWARE GROUP, INC",Fidelity Investments,Fidelity Investments
499272,"Novartis Institutes for BioMedical Research, Inc.",NaN,"Novartis Institutes for BioMedical Research, Inc."
499273,"KPIT Technologies, Inc.",Eaton Corporation,Eaton Corporation
499274,HCL GLOBAL SYSTEMS INC,UNITED AIRLINES INC (REMOTE),UNITED AIRLINES INC (REMOTE)

In [4]:
df22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493040 entries, 0 to 499274
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     493040 non-null  object
 1   CASE_STATUS                     493040 non-null  object
 2   RECEIVED_DATE                   493040 non-null  datetime64[ns]
 3   DECISION_DATE                   493040 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              23587 non-null   datetime64[ns]
 5   VISA_CLASS                      493040 non-null  object
 6   SOC_TITLE                       493040 non-null  object
 7   FULL_TIME_POSITION              493040 non-null  object
 8   TOTAL_WORKER_POSITIONS          493040 non-null  int64
 9   EMPLOYER_NAME                   493040 non-null  object
 10  NAICS_CODE                      493040 non-null  int64
 11  WORKSITE_WORKERS                493040 non-null  int64
 12  SECONDARY_ENTITY                493040 non-null  object
 13  SECONDARY_ENTITY_BUSINESS_NAME  108655 non-null  object
 14  WORKSITE_STATE                  493040 non-null  object
 15  WAGE_RATE_OF_PAY_FROM           493040 non-null  float64
 16  WAGE_RATE_OF_PAY_TO             160307 non-null  float64
 17  WAGE_UNIT_OF_PAY                493040 non-null  object
 18  PREVAILING_WAGE                 493040 non-null  float64
 19  PW_UNIT_OF_PAY                  493040 non-null  object
 20  PW_WAGE_LEVEL                   471393 non-null  object
 21  WORKSITE_EMPLOYER               493040 non-null  object
dtypes: datetime64[ns](3), float64(3), int64(3), object(13)
memory usage: 102.6+ MB

In [5]:
df22['PW_WAGE_LEVEL'].unique()

array(['III', 'I', 'II', 'IV', nan], dtype=object)

In [6]:
min(df22['DECISION_DATE'])

Timestamp('2021-10-01 00:00:00')

In [7]:
max(df22['DECISION_DATE'])

Timestamp('2022-06-30 00:00:00')

In [8]:
len(df22)-len(df22.drop_duplicates())

0

In [9]:
len(df22['CASE_NUMBER'])-len(df22['CASE_NUMBER'].drop_duplicates())

0

In [10]:
# Export df to compressed .csv

compression_opts = dict(method='zip', archive_name='h1b_lca_fy22.csv')  

df22.to_csv('h1b_lca_fy22_data.zip', index=False, compression=compression_opts)

In [11]:
# Download LCA_Disclosure_Data_FY2021_Q4.xlsx

df21q4 = pd.read_excel("https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Disclosure_Data_FY2021_Q4.xlsx"
                      , usecols = lca_cols)

df21q4 = df21q4[(df21q4['VISA_CLASS']=='H-1B') & \
        (df21q4['FULL_TIME_POSITION']=='Y')]

df21q4

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,WORKSITE_WORKERS,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL
0,I-200-21175-424928,Certified,2021-06-24,2021-07-01,NaT,H-1B,"Software Developers, Applications",Y,1,eBay Inc.,...,1,No,NaN,CA,145275.0,NaN,Year,120578.0,Year,II
1,I-200-21175-424959,Certified,2021-06-24,2021-07-01,NaT,H-1B,Aerospace Engineers,Y,1,"Honda Aircraft Company, LLC",...,1,No,NaN,NC,150000.0,170000.0,Year,103064.0,Year,IV
2,I-200-21175-425244,Certified,2021-06-24,2021-07-01,NaT,H-1B,Computer Systems Analysts,Y,1,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,...,1,No,NaN,TX,97240.0,NaN,Year,97240.0,Year,III
3,I-200-21175-423449,Certified,2021-06-24,2021-07-01,NaT,H-1B,Financial Analysts,Y,1,Citigroup Global Markets Inc.,...,1,No,NaN,NY,90000.0,NaN,Year,72363.0,Year,I
4,I-200-21175-425533,Certified,2021-06-24,2021-07-01,NaT,H-1B,"Software Developers, Systems Software",Y,1,Splunk Inc.,...,1,No,NaN,CA,140000.0,160000.0,Year,120578.0,Year,II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126571,I-200-21273-615946,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Software Developers, Systems Software",Y,1,"ESCOBEDO CONSTRUCTION, LP",...,1,No,NaN,TX,72384.0,85000.0,Year,72384.0,Year,I
126572,I-200-21273-617427,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Business Teachers, Postsecondary",Y,1,The University of Texas at Dallas,...,1,No,NaN,TX,85000.0,NaN,Year,18340.0,Year,I
126573,I-200-21273-617937,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Software Developers, Applications",Y,1,NIC INFO TEK INC,...,1,Yes,Ameriprise Financial,TN,80330.0,92300.0,Year,80330.0,Year,II
126574,I-200-21273-617987,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Software Developers, Applications",Y,1,NIC INFO TEK INC,...,1,Yes,Ameriprise Financial,TN,80330.0,80350.0,Year,80330.0,Year,II
126575,I-200-21273-616173,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,Computer and Information Systems Managers,Y,1,"CompassBeauty, Inc.",...,1,No,NaN,CA,136864.0,136865.0,Year,136864.0,Year,I

In [12]:
# df21q4 is FY21 Q4

min(df21q4['DECISION_DATE'])

Timestamp('2021-07-01 00:00:00')

In [13]:
max(df21q4['DECISION_DATE'])

Timestamp('2021-09-30 00:00:00')

In [14]:
# Download LCA_Disclosure_Data_FY2021_Q3.xlsx

df21q3 = pd.read_excel("https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Disclosure_Data_FY2021_Q3.xlsx"
                      , usecols = lca_cols)

df21q3 = df21q3[(df21q3['VISA_CLASS']=='H-1B') & \
        (df21q3['FULL_TIME_POSITION']=='Y')]

df21q3

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,WORKSITE_WORKERS,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL
0,I-200-20268-844482,Certified,2020-09-24,2020-10-01,NaT,H-1B,Chief Executives,Y,1,"BARON APP, INC.",...,1.0,No,NaN,CA,225000.0,NaN,Year,208000.0,Year,NaN
2,I-200-20268-844555,Certified,2020-09-24,2020-10-01,NaT,H-1B,General and Operations Managers,Y,1,"MEARS GROUP, INC.",...,1.0,No,NaN,UT,140806.4,NaN,Year,99528.0,Year,IV
3,I-200-20274-851229,Withdrawn,2020-09-30,2020-10-01,NaT,H-1B,General and Operations Managers,Y,1,"Diebold Nixdorf, Incorporated",...,1.0,No,NaN,OH,205000.0,NaN,Year,155813.0,Year,IV
6,I-200-20268-843525,Certified,2020-09-24,2020-10-01,NaT,H-1B,Marketing Managers,Y,1,NJOY LLC,...,1.0,No,NaN,TN,210000.0,NaN,Year,129834.0,Year,III
8,I-200-20268-844862,Certified,2020-09-24,2020-10-01,NaT,H-1B,Marketing Managers,Y,1,"Apptio, Inc.",...,1.0,No,NaN,WA,150000.0,NaN,Year,133619.0,Year,II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405618,I-200-21174-422728,Certified,2021-06-23,2021-06-30,NaT,H-1B,Sales Engineers,Y,1,ADOBE INC.,...,1.0,No,NaN,CA,125736.0,NaN,Year,125736.0,Year,III
405619,I-200-21174-421215,Certified,2021-06-23,2021-06-30,NaT,H-1B,Sales Engineers,Y,1,"Twilio, Inc.",...,1.0,No,NaN,CA,166140.0,NaN,Year,150654.0,Year,IV
405620,I-200-21174-421823,Certified,2021-06-23,2021-06-30,NaT,H-1B,Sales Engineers,Y,1,Google LLC,...,1.0,No,NaN,CA,222200.0,NaN,Year,136947.0,Year,III
405623,I-200-21176-425669,Denied,2021-06-24,2021-06-30,NaT,H-1B,"Separating, Filtering, Clarifying, Precipitati...",Y,1,Big Delta Brewing Company LLC,...,1.0,No,NaN,AK,52000.0,61000.0,Year,52000.0,Year,NaN
405625,I-200-21174-421509,Certified,2021-06-23,2021-06-30,NaT,H-1B,Transportation Inspectors,Y,1,"Fernandes Maritime Consultants, LLC",...,1.0,No,NaN,LA,70000.0,NaN,Year,55162.0,Year,III

In [15]:
# df21q3 is FY21 Q1-Q3

min(df21q3['DECISION_DATE'])

Timestamp('2020-10-01 00:00:00')

In [16]:
max(df21q3['DECISION_DATE'])

Timestamp('2021-06-30 00:00:00')

In [17]:
# CONCAT df21q4 (Q4) and df21q3 (Q1-Q3) into df21 (full fiscal year)

df21 = pd.concat([df21q4, df21q3], ignore_index = True)
df21

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,WORKSITE_WORKERS,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL
0,I-200-21175-424928,Certified,2021-06-24,2021-07-01,NaT,H-1B,"Software Developers, Applications",Y,1,eBay Inc.,...,1.0,No,NaN,CA,145275.0,NaN,Year,120578.0,Year,II
1,I-200-21175-424959,Certified,2021-06-24,2021-07-01,NaT,H-1B,Aerospace Engineers,Y,1,"Honda Aircraft Company, LLC",...,1.0,No,NaN,NC,150000.0,170000.0,Year,103064.0,Year,IV
2,I-200-21175-425244,Certified,2021-06-24,2021-07-01,NaT,H-1B,Computer Systems Analysts,Y,1,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,...,1.0,No,NaN,TX,97240.0,NaN,Year,97240.0,Year,III
3,I-200-21175-423449,Certified,2021-06-24,2021-07-01,NaT,H-1B,Financial Analysts,Y,1,Citigroup Global Markets Inc.,...,1.0,No,NaN,NY,90000.0,NaN,Year,72363.0,Year,I
4,I-200-21175-425533,Certified,2021-06-24,2021-07-01,NaT,H-1B,"Software Developers, Systems Software",Y,1,Splunk Inc.,...,1.0,No,NaN,CA,140000.0,160000.0,Year,120578.0,Year,II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510436,I-200-21174-422728,Certified,2021-06-23,2021-06-30,NaT,H-1B,Sales Engineers,Y,1,ADOBE INC.,...,1.0,No,NaN,CA,125736.0,NaN,Year,125736.0,Year,III
510437,I-200-21174-421215,Certified,2021-06-23,2021-06-30,NaT,H-1B,Sales Engineers,Y,1,"Twilio, Inc.",...,1.0,No,NaN,CA,166140.0,NaN,Year,150654.0,Year,IV
510438,I-200-21174-421823,Certified,2021-06-23,2021-06-30,NaT,H-1B,Sales Engineers,Y,1,Google LLC,...,1.0,No,NaN,CA,222200.0,NaN,Year,136947.0,Year,III
510439,I-200-21176-425669,Denied,2021-06-24,2021-06-30,NaT,H-1B,"Separating, Filtering, Clarifying, Precipitati...",Y,1,Big Delta Brewing Company LLC,...,1.0,No,NaN,AK,52000.0,61000.0,Year,52000.0,Year,NaN
510440,I-200-21174-421509,Certified,2021-06-23,2021-06-30,NaT,H-1B,Transportation Inspectors,Y,1,"Fernandes Maritime Consultants, LLC",...,1.0,No,NaN,LA,70000.0,NaN,Year,55162.0,Year,III

In [18]:
# no duplicate rows
len(df21)-len(df21.drop_duplicates())

0

In [19]:
# there are duplicate Case Numbers
len(df21['CASE_NUMBER'])-len(df21['CASE_NUMBER'].drop_duplicates())

3192

In [20]:
# remove duplcate cases, keeping row with latest Decision Date

df21 = df21.sort_values(['CASE_NUMBER', 'DECISION_DATE'], ascending = False) \
    .drop_duplicates(subset = 'CASE_NUMBER', keep = 'first', ignore_index = True)

In [21]:
len(df21['CASE_NUMBER'])-len(df21['CASE_NUMBER'].drop_duplicates())

0

In [22]:
dup = df21[df21.duplicated(['CASE_NUMBER'], keep = False)]\
    .sort_values(['CASE_NUMBER', 'DECISION_DATE'], ascending = False)

dup

Empty DataFrame
Columns: [CASE_NUMBER, CASE_STATUS, RECEIVED_DATE, DECISION_DATE, ORIGINAL_CERT_DATE, VISA_CLASS, SOC_TITLE, FULL_TIME_POSITION, TOTAL_WORKER_POSITIONS, EMPLOYER_NAME, NAICS_CODE, WORKSITE_WORKERS, SECONDARY_ENTITY, SECONDARY_ENTITY_BUSINESS_NAME, WORKSITE_STATE, WAGE_RATE_OF_PAY_FROM, WAGE_RATE_OF_PAY_TO, WAGE_UNIT_OF_PAY, PREVAILING_WAGE, PW_UNIT_OF_PAY, PW_WAGE_LEVEL]
Index: []

[0 rows x 21 columns]

In [23]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507249 entries, 0 to 507248
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     507249 non-null  object
 1   CASE_STATUS                     507249 non-null  object
 2   RECEIVED_DATE                   507249 non-null  datetime64[ns]
 3   DECISION_DATE                   507249 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              21123 non-null   datetime64[ns]
 5   VISA_CLASS                      507249 non-null  object
 6   SOC_TITLE                       507249 non-null  object
 7   FULL_TIME_POSITION              507249 non-null  object
 8   TOTAL_WORKER_POSITIONS          507249 non-null  int64
 9   EMPLOYER_NAME                   507248 non-null  object
 10  NAICS_CODE                      507249 non-null  int64
 11  WORKSITE_WORKERS                507248 non-null  float64
 12  SECONDARY_ENTITY                507249 non-null  object
 13  SECONDARY_ENTITY_BUSINESS_NAME  134170 non-null  object
 14  WORKSITE_STATE                  507248 non-null  object
 15  WAGE_RATE_OF_PAY_FROM           507248 non-null  float64
 16  WAGE_RATE_OF_PAY_TO             170701 non-null  float64
 17  WAGE_UNIT_OF_PAY                507248 non-null  object
 18  PREVAILING_WAGE                 507248 non-null  float64
 19  PW_UNIT_OF_PAY                  507248 non-null  object
 20  PW_WAGE_LEVEL                   466090 non-null  object
dtypes: datetime64[ns](3), float64(4), int64(2), object(12)
memory usage: 81.3+ MB

In [24]:
# Add WORKSITE_EMPLOYER column

df21['WORKSITE_EMPLOYER'] = df21['EMPLOYER_NAME']
df21.loc[df21['SECONDARY_ENTITY'] == 'Yes', 'WORKSITE_EMPLOYER'] = df21['SECONDARY_ENTITY_BUSINESS_NAME']

df21[['EMPLOYER_NAME','SECONDARY_ENTITY_BUSINESS_NAME','WORKSITE_EMPLOYER']]

,EMPLOYER_NAME,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_EMPLOYER
0,NIC INFO TEK INC,Ameriprise Financial,Ameriprise Financial
1,NIC INFO TEK INC,Ameriprise Financial,Ameriprise Financial
2,Data S Solutions LLC,Capital One,Capital One
3,NY SYSTEMS INC.,BEST BUY,BEST BUY
4,The University of Texas at Dallas,NaN,The University of Texas at Dallas
...,...,...,...
507244,"Intone Networks, Inc.",The Kroger Co.,The Kroger Co.
507245,The Salk Institute for Biological Studies,NaN,The Salk Institute for Biological Studies
507246,"SoundHound, Inc.",NaN,"SoundHound, Inc."
507247,"Kyyba, Inc.",Schlumberger,Schlumberger
507248,Georgia State University,NaN,Georgia State University

In [25]:
#Export df to compressed .csv

compression_opts = dict(method='zip', archive_name='h1b_lca_fy21.csv')  

df21.to_csv('h1b_lca_fy21_data.zip', index=False, compression=compression_opts)