In [1]:
# H1B Labor Condition Applications (Form ETA-9035)

# http://econdataus.com/h1bdata.htm

#source: US Department of Labor
#https://www.dol.gov/agencies/eta/foreign-labor/performance

# metadata: lca_cols
# https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Record_Layout_FY2022_Q3.pdf

# git pull https://github.com/JohnBroberg/H1B_LCA.git

import pandas as pd

In [2]:
#download .xlsx files
#concat into single dataframe (df)

lca_cols = ['CASE_NUMBER','CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE', 'ORIGINAL_CERT_DATE'
           , 'VISA_CLASS', 'SOC_TITLE', 'FULL_TIME_POSITION'
           , 'TOTAL_WORKER_POSITIONS', 'EMPLOYER_NAME', 'NAICS_CODE', 'WORKSITE_WORKERS'
           , 'SECONDARY_ENTITY', 'SECONDARY_ENTITY_BUSINESS_NAME', 'WORKSITE_STATE'
           , 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY'
           , 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_TRACKING_NUMBER', 'PW_WAGE_LEVEL']
#           , 'PW_OES_YEAR', 'PW_OTHER_SOURCE', 'PW_OTHER_YEAR', 'PW_SURVEY_PUBLISHER', 'PW_SURVEY_NAME']

df = pd.read_excel("https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Disclosure_Data_FY2022_Q3.xlsx"
                  , usecols = lca_cols)
#                  , index_col = None)

In [3]:
df = df[(df['VISA_CLASS']=='H-1B') & \
        (df['FULL_TIME_POSITION']=='Y')]

df

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,SECONDARY_ENTITY,SECONDARY_ENTITY_BUSINESS_NAME,WORKSITE_STATE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_TRACKING_NUMBER,PW_WAGE_LEVEL
0,I-200-19274-066496,Certified - Withdrawn,2019-10-01,2022-04-20,2019-10-08,H-1B,"Software Developers, Applications",Y,1,"Experis US, Inc.",...,Yes,Verizon Sourcing LLC,TX,53.37,70.0,Hour,53.37,Hour,NaN,III
1,I-200-19274-066597,Certified - Withdrawn,2019-10-01,2022-04-05,2019-10-08,H-1B,Marketing Managers,Y,1,"SAMSUNG ELECTRONICS AMERICA, INC.",...,No,NaN,TX,146077.63,NaN,Year,139464.00,Year,NaN,III
2,I-200-19274-066618,Certified - Withdrawn,2019-10-01,2021-12-01,2019-10-08,H-1B,"Computer Science Teachers, Postsecondary",Y,1,Stevens Institute of Technology,...,No,NaN,NJ,110000.00,130000.0,Year,56290.00,Year,NaN,I
3,I-200-19275-067882,Certified - Withdrawn,2019-10-02,2022-03-08,2019-10-09,H-1B,"Software Developers, Applications",Y,1,"DaVita, Inc.",...,No,NaN,CO,88858.00,106038.0,Year,88858.00,Year,NaN,II
4,I-200-19275-067945,Certified - Withdrawn,2019-10-02,2021-12-09,2019-10-09,H-1B,Mathematicians,Y,1,"Triad National Security, LLC",...,No,NaN,NM,121000.00,148300.0,Year,90314.00,Year,NaN,II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499270,I-200-22181-325657,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,"Software Developers, Applications",Y,1,"Technocorp Solutions, Inc.",...,Yes,Anthem,VA,89669.00,NaN,Year,89669.00,Year,NaN,II
499271,I-200-22181-325701,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,Computer Systems Analysts,Y,1,"COMPUNNEL SOFTWARE GROUP, INC",...,Yes,Fidelity Investments,NC,94500.00,109000.0,Year,94474.00,Year,NaN,III
499272,I-200-22181-325974,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,"Biological Scientists, All Other",Y,1,"Novartis Institutes for BioMedical Research, Inc.",...,No,NaN,MA,113214.00,NaN,Year,113214.00,Year,NaN,IV
499273,I-200-22181-326033,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,"Software Developers, Applications",Y,1,"KPIT Technologies, Inc.",...,Yes,Eaton Corporation,MI,95652.00,NaN,Year,80163.00,Year,NaN,II
499274,I-200-22181-326193,Withdrawn,2022-06-30,2022-06-30,NaT,H-1B,Network and Computer Systems Administrators,Y,1,HCL GLOBAL SYSTEMS INC,...,Yes,UNITED AIRLINES INC (REMOTE),IL,43.66,NaN,Hour,43.66,Hour,NaN,III

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493040 entries, 0 to 499274
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     493040 non-null  object
 1   CASE_STATUS                     493040 non-null  object
 2   RECEIVED_DATE                   493040 non-null  datetime64[ns]
 3   DECISION_DATE                   493040 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              23587 non-null   datetime64[ns]
 5   VISA_CLASS                      493040 non-null  object
 6   SOC_TITLE                       493040 non-null  object
 7   FULL_TIME_POSITION              493040 non-null  object
 8   TOTAL_WORKER_POSITIONS          493040 non-null  int64
 9   EMPLOYER_NAME                   493040 non-null  object
 10  NAICS_CODE                      493040 non-null  int64
 11  WORKSITE_WORKERS                493040 non-null  int64
 12  SECONDARY_ENTITY                493040 non-null  object
 13  SECONDARY_ENTITY_BUSINESS_NAME  108655 non-null  object
 14  WORKSITE_STATE                  493040 non-null  object
 15  WAGE_RATE_OF_PAY_FROM           493040 non-null  float64
 16  WAGE_RATE_OF_PAY_TO             160307 non-null  float64
 17  WAGE_UNIT_OF_PAY                493040 non-null  object
 18  PREVAILING_WAGE                 493040 non-null  float64
 19  PW_UNIT_OF_PAY                  493040 non-null  object
 20  PW_TRACKING_NUMBER              934 non-null     object
 21  PW_WAGE_LEVEL                   471393 non-null  object
dtypes: datetime64[ns](3), float64(3), int64(3), object(13)
memory usage: 86.5+ MB

In [5]:
df['PW_WAGE_LEVEL'].unique()

array(['III', 'I', 'II', 'IV', nan], dtype=object)

In [6]:
min(df['RECEIVED_DATE'])

Timestamp('2019-10-01 00:00:00')

In [7]:
min(df['DECISION_DATE'])

Timestamp('2021-10-01 00:00:00')

In [8]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
499270    False
499271    False
499272    False
499273    False
499274    False
Length: 493040, dtype: bool

In [9]:
len(df)-len(df.drop_duplicates())

0

In [10]:
len(df['CASE_NUMBER'])-len(df['CASE_NUMBER'].drop_duplicates())

0

In [11]:


df21 = pd.read_excel("https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/LCA_Disclosure_Data_FY2021_Q4.xlsx")
df21

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-21175-424928,Certified,2021-06-24,2021-07-01,NaT,H-1B,Software Engineer 3,15-1132.00,"Software Developers, Applications",Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,Anyanwu,Helen,NaN,Erickson Immigration Group,helena@eiglaw.com
1,I-200-21175-424959,Certified,2021-06-24,2021-07-01,NaT,H-1B,"MANAGER, STRESS",17-2011.00,Aerospace Engineers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-21175-425244,Certified,2021-06-24,2021-07-01,NaT,H-1B,Manager JC50,15-1121.00,Computer Systems Analysts,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-21175-423449,Certified,2021-06-24,2021-07-01,NaT,H-1B,Investment Banking Senior Analyst,13-2051.00,Financial Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,Cho / #9895,Yunuen,NaN,"Gibney, Anthony & Flaherty, LLP",ycho@gibney.com
4,I-200-21175-425533,Certified,2021-06-24,2021-07-01,NaT,H-1B,Software Engineer,15-1133.00,"Software Developers, Systems Software",Y,...,No,NaN,NaN,NaN,Disclose Business,BYNUM,KAYLA,NaN,TAFAPOLSKY & SMITH LLP,kayla.bynum@tandslaw.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126571,I-200-21273-615946,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,SOFTWARE DEVELOPMENT,15-1133.00,"Software Developers, Systems Software",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NOT ANY,NaN
126572,I-200-21273-617427,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,Assistant Professor of Instruction,25-1011.00,"Business Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
126573,I-200-21273-617937,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,Engineering Lead,15-1132.00,"Software Developers, Applications",Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
126574,I-200-21273-617987,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,Engineering Lead,15-1132.00,"Software Developers, Applications",Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
126575,I-200-21273-616173,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Vice President, Engineering",11-3021.00,Computer and Information Systems Managers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [12]:
df_concat = pd.concat([df, df21])
df_concat

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-19274-066496,Certified - Withdrawn,2019-10-01,2022-04-20,2019-10-08,H-1B,"Software Developers, Applications",Y,1,"Experis US, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I-200-19274-066597,Certified - Withdrawn,2019-10-01,2022-04-05,2019-10-08,H-1B,Marketing Managers,Y,1,"SAMSUNG ELECTRONICS AMERICA, INC.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I-200-19274-066618,Certified - Withdrawn,2019-10-01,2021-12-01,2019-10-08,H-1B,"Computer Science Teachers, Postsecondary",Y,1,Stevens Institute of Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I-200-19275-067882,Certified - Withdrawn,2019-10-02,2022-03-08,2019-10-09,H-1B,"Software Developers, Applications",Y,1,"DaVita, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I-200-19275-067945,Certified - Withdrawn,2019-10-02,2021-12-09,2019-10-09,H-1B,Mathematicians,Y,1,"Triad National Security, LLC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126571,I-200-21273-615946,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Software Developers, Systems Software",Y,1,"ESCOBEDO CONSTRUCTION, LP",...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NOT ANY,NaN
126572,I-200-21273-617427,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Business Teachers, Postsecondary",Y,1,The University of Texas at Dallas,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
126573,I-200-21273-617937,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Software Developers, Applications",Y,1,NIC INFO TEK INC,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
126574,I-200-21273-617987,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,"Software Developers, Applications",Y,1,NIC INFO TEK INC,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
126575,I-200-21273-616173,Withdrawn,2021-09-30,2021-09-30,NaT,H-1B,Computer and Information Systems Managers,Y,1,"CompassBeauty, Inc.",...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [13]:
len(df_concat)-len(df_concat.drop_duplicates())

0

In [14]:
len(df_concat['CASE_NUMBER'])-len(df_concat['CASE_NUMBER'].drop_duplicates())

2741

In [15]:
dup = df_concat[df_concat.duplicated(['CASE_NUMBER'], keep = False)]\
    .sort_values(['CASE_NUMBER', 'DECISION_DATE'], ascending = False)

dup

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
15471,I-200-21267-603909,Certified - Withdrawn,2021-09-23,2022-03-16,2021-09-30,H-1B,Computer Systems Analysts,Y,1,"ZS Associates, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126105,I-200-21267-603909,Certified,2021-09-23,2021-09-30,NaT,H-1B,Computer Systems Analysts,Y,1,"ZS Associates, Inc.",...,No,NaN,NaN,NaN,Disclose Business,Sanil,Ranjith,NaN,Seyfarth Shaw LLP,rsanil@seyfarth.com
15470,I-200-21267-603854,Certified - Withdrawn,2021-09-23,2022-04-15,2021-09-30,H-1B,"Financial Specialists, All Other",Y,1,"ERGOTELES, LLC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125737,I-200-21267-603854,Certified,2021-09-23,2021-09-30,NaT,H-1B,"Financial Specialists, All Other",Y,1,"ERGOTELES, LLC",...,No,NaN,NaN,NaN,Disclose Business and Employment,NaN,NaN,NaN,NaN,NaN
15469,I-200-21267-603831,Certified - Withdrawn,2021-09-23,2022-06-21,2021-09-30,H-1B,Statisticians,Y,1,Matrix Analytics Inc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,I-200-21175-423374,Certified,2021-06-24,2021-07-01,NaT,H-1B,Database Administrators,Y,1,TekOrg Inc.,...,No,Yes,"Both $60,000 or higher in annual wage and Mast...",NaN,Disclose Business,Voruganti,Sumanth,NaN,TekOrg Inc.,sumanthvbi281@gmail.com
12699,I-200-21175-423354,Certified - Withdrawn,2021-06-24,2022-03-16,2021-07-01,H-1B,Information Technology Project Managers,Y,1,"ZS Associates, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,I-200-21175-423354,Certified,2021-06-24,2021-07-01,NaT,H-1B,Information Technology Project Managers,Y,1,"ZS Associates, Inc.",...,No,NaN,NaN,NaN,Disclose Business,Sanil,Ranjith,NaN,Seyfarth Shaw LLP,rsanil@seyfarth.com
12698,I-200-21175-423341,Certified - Withdrawn,2021-06-24,2021-10-13,2021-07-01,H-1B,Operations Research Analysts,Y,1,"ZS Associates, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,I-200-21175-423341,Certified,2021-06-24,2021-07-01,NaT,H-1B,Operations Research Analysts,Y,1,"ZS Associates, Inc.",...,No,NaN,NaN,NaN,Disclose Business,Gowda,Harshith,NaN,Seyfarth Shaw LLP,hgowda@seyfarth.com

In [16]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 619616 entries, 0 to 126575
Data columns (total 96 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     619616 non-null  object
 1   CASE_STATUS                     619616 non-null  object
 2   RECEIVED_DATE                   619616 non-null  datetime64[ns]
 3   DECISION_DATE                   619616 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              31006 non-null   datetime64[ns]
 5   VISA_CLASS                      619616 non-null  object
 6   SOC_TITLE                       619616 non-null  object
 7   FULL_TIME_POSITION              619616 non-null  object
 8   TOTAL_WORKER_POSITIONS          619616 non-null  int64
 9   EMPLOYER_NAME                   619616 non-null  object
 10  NAICS_CODE                      619616 non-null  int64
 11  WORKSITE_WORKERS                619616 non-null  int64
 12  SECONDARY_ENTITY                619616 non-null  object
 13  SECONDARY_ENTITY_BUSINESS_NAME  140260 non-null  object
 14  WORKSITE_STATE                  619616 non-null  object
 15  WAGE_RATE_OF_PAY_FROM           619616 non-null  float64
 16  WAGE_RATE_OF_PAY_TO             202123 non-null  float64
 17  WAGE_UNIT_OF_PAY                619616 non-null  object
 18  PREVAILING_WAGE                 619616 non-null  float64
 19  PW_UNIT_OF_PAY                  619616 non-null  object
 20  PW_TRACKING_NUMBER              1238 non-null    object
 21  PW_WAGE_LEVEL                   591217 non-null  object
 22  JOB_TITLE                       126576 non-null  object
 23  SOC_CODE                        126576 non-null  object
 24  BEGIN_DATE                      126576 non-null  datetime64[ns]
 25  END_DATE                        126576 non-null  datetime64[ns]
 26  NEW_EMPLOYMENT                  126576 non-null  float64
 27  CONTINUED_EMPLOYMENT            126576 non-null  float64
 28  CHANGE_PREVIOUS_EMPLOYMENT      126576 non-null  float64
 29  NEW_CONCURRENT_EMPLOYMENT       126576 non-null  float64
 30  CHANGE_EMPLOYER                 126576 non-null  float64
 31  AMENDED_PETITION                126576 non-null  float64
 32  TRADE_NAME_DBA                  11944 non-null   object
 33  EMPLOYER_ADDRESS1               126576 non-null  object
 34  EMPLOYER_ADDRESS2               59010 non-null   object
 35  EMPLOYER_CITY                   126576 non-null  object
 36  EMPLOYER_STATE                  126565 non-null  object
 37  EMPLOYER_POSTAL_CODE            126576 non-null  object
 38  EMPLOYER_COUNTRY                126576 non-null  object
 39  EMPLOYER_PROVINCE               8873 non-null    object
 40  EMPLOYER_PHONE                  126576 non-null  float64
 41  EMPLOYER_PHONE_EXT              7256 non-null    float64
 42  EMPLOYER_POC_LAST_NAME          126576 non-null  object
 43  EMPLOYER_POC_FIRST_NAME         126573 non-null  object
 44  EMPLOYER_POC_MIDDLE_NAME        21095 non-null   object
 45  EMPLOYER_POC_JOB_TITLE          126576 non-null  object
 46  EMPLOYER_POC_ADDRESS1           126576 non-null  object
 47  EMPLOYER_POC_ADDRESS2           59679 non-null   object
 48  EMPLOYER_POC_CITY               126576 non-null  object
 49  EMPLOYER_POC_STATE              126447 non-null  object
 50  EMPLOYER_POC_POSTAL_CODE        126576 non-null  object
 51  EMPLOYER_POC_COUNTRY            126576 non-null  object
 52  EMPLOYER_POC_PROVINCE           171 non-null     object
 53  EMPLOYER_POC_PHONE              126576 non-null  float64
 54  EMPLOYER_POC_PHONE_EXT          7555 non-null    float64
 55  EMPLOYER_POC_EMAIL              123864 non-null  object
 56  AGENT_REPRESENTING_EMPLOYER     126576 non-null  object
 57  AGENT_ATTORNEY_LAST_NAME        90351 non-null   object
 58  AGENT_ATTORNEY_FIRST_NAME       90351 non-null   object
 59  AGENT_ATTORNEY_MIDDLE_NAME      49188 non-null   object
 60  AGENT_ATTORNEY_ADDRESS1         90351 non-null   object
 61  AGENT_ATTORNEY_ADDRESS2         70750 non-null   object
 62  AGENT_ATTORNEY_CITY             90351 non-null   object
 63  AGENT_ATTORNEY_STATE            90351 non-null   object
 64  AGENT_ATTORNEY_POSTAL_CODE      90351 non-null   object
 65  AGENT_ATTORNEY_COUNTRY          90351 non-null   object
 66  AGENT_ATTORNEY_PROVINCE         4795 non-null    object
 67  AGENT_ATTORNEY_PHONE            90351 non-null   float64
 68  AGENT_ATTORNEY_PHONE_EXT        6350 non-null    float64
 69  AGENT_ATTORNEY_EMAIL_ADDRESS    90333 non-null   object
 70  LAWFIRM_NAME_BUSINESS_NAME      90351 non-null   object
 71  STATE_OF_HIGHEST_COURT          90159 non-null   object
 72  NAME_OF_HIGHEST_STATE_COURT     90158 non-null   object
 73  WORKSITE_ADDRESS1               126576 non-null  object
 74  WORKSITE_ADDRESS2               36300 non-null   object
 75  WORKSITE_CITY                   126575 non-null  object
 76  WORKSITE_COUNTY                 126576 non-null  object
 77  WORKSITE_POSTAL_CODE            126576 non-null  object
 78  PW_OES_YEAR                     120251 non-null  object
 79  PW_OTHER_SOURCE                 6021 non-null    object
 80  PW_OTHER_YEAR                   6021 non-null    float64
 81  PW_SURVEY_PUBLISHER             4842 non-null    object
 82  PW_SURVEY_NAME                  4840 non-null    object
 83  TOTAL_WORKSITE_LOCATIONS        126576 non-null  float64
 84  AGREE_TO_LC_STATEMENT           126576 non-null  object
 85  H-1B_DEPENDENT                  122938 non-null  object
 86  WILLFUL_VIOLATOR                122935 non-null  object
 87  SUPPORT_H1B                     37097 non-null   object
 88  STATUTORY_BASIS                 36943 non-null   object
 89  APPENDIX_A_ATTACHED             135 non-null     object
 90  PUBLIC_DISCLOSURE               126551 non-null  object
 91  PREPARER_LAST_NAME              62026 non-null   object
 92  PREPARER_FIRST_NAME             62020 non-null   object
 93  PREPARER_MIDDLE_INITIAL         23531 non-null   object
 94  PREPARER_BUSINESS_NAME          63976 non-null   object
 95  PREPARER_EMAIL                  63152 non-null   object
dtypes: datetime64[ns](5), float64(17), int64(3), object(71)
memory usage: 458.5+ MB